{% extends 'base2.html' %}
{% block title %}Request for Password Page{% endblock %}

{% block content %}
<style>
    .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
</style>
<br><br>
<div class="container" >
<h1>Request for new Password</h1>
<form method ="POST">
{% csrf_token %}
<input type="email" name="un" placeholder="enter email" required>
<br><br>
<input type="submit" value="Request for new Password">
</form>
<h2>Note: New Password would be sent to registered email</h2>
{{ msg }}
</div>
{% endblock %}