{% extends 'base.html' %}
{% load static %}
<html>
<head>
	{% block title %}'N'gage:Home {% endblock %}
</head>

<body>
	{% block content %}
	
<style>
	.fill {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.356);
    overflow: hidden;
    background-size: cover;
    background-position: top;
    background-image: url('{% static "images/Workout.jpg" %}');
	width: 100%;
}
.center {
  margin: auto;
  
  border: 5px solid blue;
  padding: 10px;
}
input {
  height: 50px;
  width: 500px;
  box-sizing: border-box;
}
.btn{
  height: 50px;
  width: 200px;
  color: blue;
  box-sizing: border-box;
}
</style>

<!--<div id="bg" style="background-image: url('{% static "images/Workout.jpg" %}');width:100%;height:30%;object-fit:contain;background-repeat:no-repeat;background-position:top;">-->
<div class="fill">

	<br><br>
	<br><br>
	<center style="color:white">
	<h1><b>About Us</b></h1>
	<h3>This is a fitness portal specially made for the employees of Nomura with an aim to help boost physical and mental wellbeing. </h3>
    <h6>Tanvi Shetty<br>Anmol Devnani</h6>		
</center>

</div>

<h1>Please feel free to share your queries with us:</h1>
<div class="center">
	<form class="" method="post">
		{% csrf_token %}
	<div >
		<label for="fname">Name:</label><br>
		<input name="name" type="text" class="form-control" id="fname" placeholder="Your name" required>
		<br><br>
		<label for="email1">Email address:</label><br>
		<input name="email" type="email" class="form-control" id="email1" placeholder="name@example.com" required>
	    <br><br>
		<label for="subject">Subject:</label><br>
		<textarea name="subject" class="form-control" id="subject" placeholder="Please Enter your Query" required></textarea>
		<br><br>
		<input type="submit" class="btn" value="Submit" onclick="myFunction()">
	  </div>
	</form>
</div>

<script>
function myFunction( ) //function shows message after submitting information
{
   
	alert('{{ message }}');
  }

    

</script>


</body>
</html>
{% endblock %}