{% extends 'base2.html' %}
{% load embed_video_tags %}
{% load static %}
{% block title %}Ngage:video{% endblock %}
{% block content %}
<br>
<h3>Here is the video:</h3>
<h1>{{ Tut.title }}</h1>

<div class="main" style="display:inline-block;">
<div style="width: 50%; height: 50%; float:left;">



		{% video Tut.video 'medium' %}
</div>
<div style="width: 40%; height: 50%; float:right;">
    
    <!--Stream Video using Webcam-->
    <div class="video-wrap">
        <video id="video" playsinline autoplay></video>
    </div>
    <!--Trigger canvas web API-->
    
    <div class="controller">
        <br>
        <button id="snap">Capture</button>
    </div>
     <!--Webcam video snapshot-->
     <canvas id="canvas" width="150" height="130"></canvas>

     <script>
         'use strict';
         const video = document.getElementById('video');
         const canvas = document.getElementById('canvas');
         const snap = document.getElementById('snap');
         const errorMsgElement = document.getElementById('span#ErrorMsg');

         const constraints = {
             audio: false,
             video:{
                 width: 480, height: 480
             }
         };

         async function init(){
             try{
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream); 
             }
             catch(e){
                 errorMsgElement.innerHTML = 'navigator.getUserMedia.error:${e.toString()}';
             }
         }
    function handleSuccess(stream){
        window.stream = stream;
        video.srcObject = stream;
    }  
    
    init()

    //Draw Image
    var con = canvas.getContext('2d')
    snap.addEventListener("click",function(){
        con.drawImage(video,0,0,130,130)
    })

     </script>
</div>
</div>
{% endblock %}